
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 21, 2017, 11:20:35 AM
    Author     : HONGHAI
*/


.vendorListHeading th{ background: #ddd; font-size: 12px !important;  border: 0px solid #111 !important; border-right: 1px solid #000 !important;}

p.N2T{ text-transform:lowercase;}
p.N2T:first-child:first-letter {
     text-transform: uppercase !important;


}


@page {
    size:'A4';
    margin: 0;
    margin-top: 1cm;
}

@media print {

    
    
    .vendorListHeading th,.bg-black {
        border: 1px solid #111;
        -webkit-print-color-adjust: exact;
    }

    .vendorListHeading th {
        color: #111 !important;
        vertical-align:middle;
        font-weight: bold;
    }
    

    body {
         
         padding:0;
         line-height: 1.4em;
         word-spacing:1px;
         letter-spacing:0.2px;
         font: 12px Arial;
         color: #000; -webkit-print-color-adjust: exact;
         background: #fff !important;

     }
     .vendorListHeading {

            color: black;
            -webkit-print-color-adjust: exact;
     }
     .vendorListHeading th{
        color: #111 !important;
        vertical-align:middle;
        font-weight: bold;
     }

     .vendorListHeading {

            color: black;
            -webkit-print-color-adjust: exact;
     }

     @page:top{
        margin-top: 2cm !important;
    }


}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
td.company-info p{
    padding-left: 90px;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Arial'; color: #121212 !important;
}
.row-page-name{ font-size: 14px; font-weight: bold; line-height: 12px; margin-top: 30px;}

.table-page-header td{ font-size: 12px; color: #121212 !important; }
.table-page-header td.left-left{width: 180px; text-align: right;}
.table-page-header td.left-left span{ padding: 0px 10px 0px 10px;}

.table-page-header td.right-left{ width: 250px; text-align: right;}
.table-page-header td.right-left-wh{ width: 138px; text-align: left;}


.table-page-header td.right-left span{ padding: 0 10px 0 10px;}
.table-page-header td.right-right{ text-align: right }
.table-page-header td.right-right-wh{ text-align: left; border: 1px solid #333; width: 160px}


.print-table{ border: 1px solid #333; font-size: 12px;}
.print-table .record-item td.item{ border: 0.5px solid #333;}
.print-table .record-item td.item-footer{ border-bottom: 0.5px solid #333;}


.print-table .record-border td{ border-top: 1px solid #333;}
.print-table .record-last td{ border-top: 1px solid #333; }

.print-table th{ font-size: 14px; font-weight: normal;}
.print-table td{ font-size: 12px;}





.conditions{font-size: 12px; margin-top: 30px;}
.conditions p{ line-height: 5px;  margin-bottom: 10px; }
.conditions label{
    font-size: 12px; 
    margin: 0px; padding: 0px; font-weight: normal !important;
    line-height: 18px;
}

.table-term{margin-top: 20px}
.table-term tr td{ padding: 3px 0px; font-size: 12px; }


.signature{ font-size: 12px; margin-top: 20px;}
.signature p.cus{ line-height: 5px;}
